<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/data/jaxb">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <title>Footer Fragment</title>
    <link href="../../static/css/cas.css" rel="stylesheet" th:remove="tag" />
</head>
<body>
    <footer th:fragment="footer" class="footer" role="contentinfo">
        <div class="container">
            <span id="copyright" ></span>
            Copyright © 2019 中科天玑数据科技股份有限公司
            建议使用谷歌或Opera浏览器最新版
        </div>
    </footer>
</body>
</html>
